.footer {
	display: grid;
	grid-template-rows: 35px 220px;
	color: #fff;
}
a {
	color: #fff;
}
.footertop {
	background-color: #0B8BD8;
	text-align: left;	
	padding-top: 0.5%;
}
.footertoptext {
	margin: 0 auto;
	width: 80%;
}
.footermain {
	background-color: #4D4D4D;
	display: grid;
	grid-template-rows: 2fr 1fr;
	padding-top: 1.5%;
	text-align: left;
	font-size: 0.8em;
	font-weight: 600;
}
ul {
	list-style: none;
	padding-left: 0;	
}
.footerCenter {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	width: 80%;
	margin: 0 auto;
	float: left;
	opacity: 0.7;
}
.footerForm {
	float: left;
	font-weight: 500;
}
.footerForm input {
	width: 50%;
	padding: 0.6em;
	color: #4D4D4D;	
}
.footerForm button {
	padding: 0.75em 1.5em;
	color: #fff;
	background-color: #858585;	
	border: 0;
}
.footerSoc {
	float: left;
}
.footerMenu {
	float: left;
}
.footerCopy {
	text-align: left;
	margin: 0 auto;
	width: 80%;
	font-size: 0.9em;
	opacity: 0.5;
}
 .footerCopy hr {
 	margin-bottom: 2em;
 }